*{
	margin: 0px;
	padding: 0px;
	font: 24px arial, sans-serif;
}
body {
	background: url('recursos/bg.jpg') no-repeat;
	background-size: cover;
}
#container_home {
	background: url(recursos/game.png) no-repeat center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	border: 1px solid red;

}
#start_buttom, #level {
	padding: 15px;
	border-radius: 8px;
	border: none;
	margin: 5px auto;
}
#start_buttom {
	background-color: red;
	color: white;
	margin-bottom: 45px;
}
#enemy, #status {
	position: absolute;
	opacity: 0.0;
}
.small_enemy{
	width: 75px;
	height: 75px;
}
.normal_enemy {
	width: 110px;
	height: 110px;
}
.large_enemy {
	width: 150px;
	height: 150px;
}
.rotation_right {
	transform: rotateY(180deg);

	-webkit-transform: rotateY(180deg); /*Chrome, Safari e Opera*/
	-ms-transform: rotateY(180deg); /*IE*/
	-moz-transform: rotateY(180deg); /*Mozilla*/
	-o-transform: rotateY(180deg);  /*Opera*/
}
.rotation_left {
}
#status {
	bottom: 0px;
	left: 0px;
	background-color: white;
	padding: 15px;
	}
#status_life_full {
	position: absolute;
}